*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  width: 100%;
  height: 100vh;
  background: url(pic/bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  font-family: sans-serif;
}

/* ================= NAVBAR ================= */

.navbar{
  width: 86%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo + name */
.brand{
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo{
  width: 50px;
}

.brand-name{
  font-size: 24px;
  font-weight: bold;
  color: rgb(230,104,59);
}

ul{
  list-style: none;
}

ul li{
  display: inline-block;
  padding: 10px 16px;
}

ul li a{
  text-decoration: none;
  font-weight: bold;
  color: darkslategray;
  transition: 0.4s;
}

ul li a:hover{
  color: rgb(230,104,59);
}

/* ================= INFO ================= */

.info{
  margin-left: 7%;
  margin-top: 6%;
}

.info h1{
  font-size: 65px;
  color: rgb(36,32,30);
}

.info h3{
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 26px;
  margin-bottom: 10px;
}

/* only V P D E */
.orange{
  color: rgb(230,104,59);
}

/* spacing between words */
.title span{
  margin-right: 18px;
}

.info a{
  text-decoration: none;
  color: white;
  background: rgb(36,32,30);
  padding: 10px 18px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 20px;
  transition: 0.4s;
}

.info a:hover{
  background: rgb(59,174,209);
}

/* ================= IMAGE ================= */

.image{
  width: 30%;
  height: 60%;
  position: absolute;
  right: 120px;
  bottom: 0;
}

.image img{
  position: absolute;
  height: 120%;
  right: 0;
  bottom: 0;
}

/* ================= ICONS ================= */

.icons{
  margin-left: 7%;
  margin-top: 20px;
}

.icons a{
  text-decoration: none;
}

.icons ion-icon{
  font-size: 40px;
  color: black;
  margin-right: 20px;
  transition: 0.4s;
}

.icons ion-icon:hover{
  color: rgb(59,174,209);
}








